
    
page-event-description {
    
    expandable-header{
        background: #3B0332;
    }
    expandable-header ion-item {
        position: absolute;
        top: 0;
        height: 100%;
        color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
    
    }
    expandable-header ion-item div{
        position: absolute;
        bottom: 0;
        color: #fff;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        z-index: 101;
    }
    expandable-header .toolbar{
        position: absolute;
        top: 0;
        color: #fff;
        z-index: 102;
    }
    expandable-header .item-md.item-block .item-inner{
        border:none;
    }
    expandable-header .item-ios.item-block .item-inner{
        border: 0;
    }
    ion-segment{
        width: 100%;
        height: 100%;
        background: #fff;
    }
    .segment-ios .segment-button{
        box-shadow: 1px 1px 1px #ccc;
        border-radius: 0;
        border: 0;
        border-style: none;
    }
    .segment-ios .segment-button:first-of-type, 
    .segment-ios .segment-button:last-of-type{
       border-radius: 0;
    }
    .toolbar-background{
        background: transparent;
    }
    .back-button{
        color:#fff;
    }
    .back-button-text-ios{
        display: none;
    }
    .toolbar-ios{
        margin-top:10px;
    }
    .date{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .date div{
        float: left;
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .date div ion-icon{
        padding-right: 10px;
    }
    ion-grid{
        color: #FFF;
    }
    ion-grid ion-row:first-child{
        background: #662674;
    }
    ion-grid ion-row:nth-child(2){
        background: rgba(102,38,116,.9);
    }
    ion-grid ion-row{
        background: rgba(102,38,116,.6);
    }
    ion-grid ion-row ion-col{
        text-align: center;
        border: 1px solid rgba(102,38,116,.3);
    }
    .info-icon{
        color:#438efd;
        font-size: 20px;
        padding-right: 10px;
    }

}
    
   