<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title no-padding>Convenios</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="convenios">
      <ion-segment-button value="universidades" (click)="getUniversities()">
        Universidades
      </ion-segment-button>
      <ion-segment-button value="institutos" (click)="getInstitutes()">
        Institutos
      </ion-segment-button>
      <ion-segment-button value="info">
        Información
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="convenios">
    <ion-list *ngSwitchCase="'universidades'">
        <ion-item *ngFor="let university of dataSetUniversities" >
            <ion-thumbnail item-start>
              <img [src]="university.image">
            </ion-thumbnail>
            <h2>{{university.name}}</h2>
          </ion-item>
      
    </ion-list>

    <ion-list *ngSwitchCase="'institutos'">
      <ion-item *ngFor="let institute of dataSetInstitutes" >
        <ion-thumbnail item-start>
          <img [src]="institute.image">
        </ion-thumbnail>
        <h2>{{institute.name}}</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'info'">
        <ion-grid>
          <ion-row>
                  <ion-col col-12><h3>Información para las fiestas</h3></ion-col>
          </ion-row>
          <ion-row>
                  <ion-col col-4>Cliente</ion-col>
                  <ion-col col-4>Condiciónes de ingreso</ion-col>
                  <ion-col col-4>Hasta</ion-col>
          </ion-row>
          <ion-row>
                  <ion-col col-4>Mujeres</ion-col>
                  <ion-col col-4>Carnet + invitación</ion-col>
                  <ion-col col-4>01:30 hrs</ion-col>
          </ion-row>
          <ion-row>
          <ion-col col-4>Hombres</ion-col>
          <ion-col col-4>Carnet + Credencial (UES invitadas) + invitación</ion-col>
          <ion-col col-4>01:30</ion-col>
          </ion-row>
  </ion-grid> 
      
    </ion-list>
  </div>
</ion-content>